streamlit
langchain
langchain-google-genai
langchain-chroma==0.1.3
langchain-community
python-dotenv
crewai-tools
protobuf==4.21.6
tensorflow-metadata
langchain-huggingface
langchain-groq
chromadb>=0.4.0,<0.6.0
google-auth
google-auth-oauthlib
google-api-python-client
llama-index
pdfplumber
pypdf2
huggingface-hub
