streamlit
langchain
langchain-google-genai
langchain-community
crewai-tools
python-dotenv
faiss-cpu
protobuf==4.21.6
tensorflow-metadata
google-auth
google-auth-oauthlib
google-api-python-client
huggingface-hub
pypdf2
pdfplumber
sqlite3>=3.35.5
